{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<main>
  <h1 class='text-center text-uppercase'> Hello world</h1>
  <h2 class='text-end text-capitalize'> Hello world</h2>
  <h3 class='text-lowercase'>Hello world </h3>
  <h4>Hello world</h4>
  <h5>Hello world</h5>
  <h6>Hello world</h6>

  <br />
  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-2'> Hello world</div>
  <div class='display-3'> Hello world</div>
  <div class='display-4'> Hello world</div>
  <div class='display-5'> Hello world</div>
  <div class='display-6'> Hello world</div>

  <hr />

  <div class='text-muted text-center'>Додатковий текст
  </div>
  <div class='text-muted text-end'>Додатковий
    <span class='display-1'>текст</span></div>
  <hr />
  <button class='btn btn-primary'>Primary</button>
  <button
    class='btn btn-success text-uppercase'
  >Succes</button>
  <hr />
  <p class='text-info'>My text</p>

  <hr />

  <div class='card'><div class='card-body'>
    <button class='btn btn-primary'>Кнопка</button>
    <button
      class='btn btn-outline-warning btn-lg'
    >Додати</button>
    <button
      class='btn btn-outline-danger btn-sm'
    >Видалити</button></div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class='card card-body'>This is my life</div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}